body {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.navbar {
    background-color: #9fb9a7;
}

.quem-somos {
    background-color: #8181f7;
    color: white !important;
}

.margin {
    padding-bottom: 50px;
}

.parceiros {
    background-color: #58faf4;
}

.bg-footer {
    background-color: black;
    color: white;
}